In [2]:
import pandas as pd
from io import StringIO

In [3]:
with open('../data/raw/2023_premier_league_match_data_raw.jsonl', 'r') as file:
    jsonl_string = file.read()
json_io = StringIO(jsonl_string)
data = pd.read_json(json_io, lines=True)
data.head()

,area,competition,season,id,utcDate,status,matchday,stage,group,lastUpdated,homeTeam,awayTeam,score,odds,referees
0,"{'id': 2072, 'name': 'England', 'code': 'ENG',...","{'id': 2021, 'name': 'Premier League', 'code':...","{'id': 1564, 'startDate': '2023-08-11', 'endDa...",435943,2023-08-11T19:00:00Z,FINISHED,1,REGULAR_SEASON,NaN,2023-12-12T15:20:40Z,"{'id': 328, 'name': 'Burnley FC', 'shortName':...","{'id': 65, 'name': 'Manchester City FC', 'shor...","{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...",{'msg': 'Activate Odds-Package in User-Panel t...,"[{'id': 11585, 'name': 'Craig Pawson', 'type':..."
1,"{'id': 2072, 'name': 'England', 'code': 'ENG',...","{'id': 2021, 'name': 'Premier League', 'code':...","{'id': 1564, 'startDate': '2023-08-11', 'endDa...",435944,2023-08-12T12:00:00Z,FINISHED,1,REGULAR_SEASON,NaN,2023-09-19T20:20:30Z,"{'id': 57, 'name': 'Arsenal FC', 'shortName': ...","{'id': 351, 'name': 'Nottingham Forest FC', 's...","{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...",{'msg': 'Activate Odds-Package in User-Panel t...,"[{'id': 11605, 'name': 'Michael Oliver', 'type..."
2,"{'id': 2072, 'name': 'England', 'code': 'ENG',...","{'id': 2021, 'name': 'Premier League', 'code':...","{'id': 1564, 'startDate': '2023-08-11', 'endDa...",435945,2023-08-12T14:00:00Z,FINISHED,1,REGULAR_SEASON,NaN,2023-09-19T20:20:30Z,"{'id': 1044, 'name': 'AFC Bournemouth', 'short...","{'id': 563, 'name': 'West Ham United FC', 'sho...","{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...",{'msg': 'Activate Odds-Package in User-Panel t...,"[{'id': 11309, 'name': 'Peter Bankes', 'type':..."
3,"{'id': 2072, 'name': 'England', 'code': 'ENG',...","{'id': 2021, 'name': 'Premier League', 'code':...","{'id': 1564, 'startDate': '2023-08-11', 'endDa...",435946,2023-08-12T14:00:00Z,FINISHED,1,REGULAR_SEASON,NaN,2023-09-19T20:20:30Z,"{'id': 397, 'name': 'Brighton & Hove Albion FC...","{'id': 389, 'name': 'Luton Town FC', 'shortNam...","{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...",{'msg': 'Activate Odds-Package in User-Panel t...,"[{'id': 11556, 'name': 'David Coote', 'type': ..."
4,"{'id': 2072, 'name': 'England', 'code': 'ENG',...","{'id': 2021, 'name': 'Premier League', 'code':...","{'id': 1564, 'startDate': '2023-08-11', 'endDa...",435947,2023-08-12T14:00:00Z,FINISHED,1,REGULAR_SEASON,NaN,2023-09-19T20:20:30Z,"{'id': 62, 'name': 'Everton FC', 'shortName': ...","{'id': 63, 'name': 'Fulham FC', 'shortName': '...","{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...",{'msg': 'Activate Odds-Package in User-Panel t...,"[{'id': 11494, 'name': 'Stuart Attwell', 'type..."

In [4]:
matches = pd.DataFrame({
    'id': data['id'],
    'date_played': data['utcDate'],
    'home_team_id': data['homeTeam'].apply(lambda x: x.get('id')),
    'home_team_name': data['homeTeam'].apply(lambda x: x.get('name')),
    'away_team_id': data['awayTeam'].apply(lambda x: x.get('id')),
    'away_team_name': data['awayTeam'].apply(lambda x: x.get('name')),
    'winner': data['score'].apply(lambda x: x.get('winner')),
    'home_goals': data['score'].apply(lambda x: x.get('fullTime').get('home')),
    'away_goals': data['score'].apply(lambda x: x.get('fullTime').get('away'))
})

matches.head()

,id,date_played,home_team_id,home_team_name,away_team_id,away_team_name,winner,home_goals,away_goals
0,435943,2023-08-11T19:00:00Z,328,Burnley FC,65,Manchester City FC,AWAY_TEAM,0.0,3.0
1,435944,2023-08-12T12:00:00Z,57,Arsenal FC,351,Nottingham Forest FC,HOME_TEAM,2.0,1.0
2,435945,2023-08-12T14:00:00Z,1044,AFC Bournemouth,563,West Ham United FC,DRAW,1.0,1.0
3,435946,2023-08-12T14:00:00Z,397,Brighton & Hove Albion FC,389,Luton Town FC,HOME_TEAM,4.0,1.0
4,435947,2023-08-12T14:00:00Z,62,Everton FC,63,Fulham FC,AWAY_TEAM,0.0,1.0

In [6]:
clean_standings = pd.read_csv('../data/source/2023_premier_league_standings.csv')
clean_standings.head()

,Unnamed: 0,position,playedGames,won,draw,lost,points,goalsFor,goalsAgainst,goalDifference,team.id,team.name,form_value
0,0,1,16,11,4,1,37,36,15,21,64,Liverpool FC,4
1,1,2,16,11,3,2,36,33,15,18,57,Arsenal FC,3
2,2,3,16,11,2,3,35,35,20,15,58,Aston Villa FC,4
3,3,4,16,10,3,3,33,38,18,20,65,Manchester City FC,0
4,4,5,16,9,3,4,30,33,23,10,73,Tottenham Hotspur FC,-2